body {
    background-color: antiquewhite;
    margin: 0;
}

header {
    padding: 20px 5%;
    background-color: darkgoldenrod;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

a:hover {
    color: goldenrod;
}

table {
    border: 1px solid antiquewhite;
    border-collapse: collapse;
    margin: auto;
    color: whitesmoke;
}

input {
    display: inline-block;
}

th {
    text-align: right;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid antiquewhite;
}

.button {
    display: block;
    margin: auto;
    width: 80%;
    padding: 10px 0;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    background-color: goldenrod;
    color: whitesmoke;
}

#search input {
  width: 100%;
}
