{% extends "base.html" %}

{% block content %}
    <div id="history">
        <h2>History</h2>
        <section>
            <table>
                {% for t in transfers %}
                    <tr>
                        <th>
                            <p>Receiver: </p>
                            <p>Amount: </p>
                            <p>Adress: </p>
                            <p>Date: </p>
                        </th>
                        <td>
                            <p>{{ t.rec_name }}</p>
                            <p>{{ t.amount }}</p>
                            <p>{{ t.rec_street }}</p>
                            <p>{{ t.post_time }}</p>
                        </td>
                        <td>
                            <p>{{ t.acc_num_to }}</p>
                            <p><br></p>
                            <p>{{ t.rec_pcode }}, {{ t.rec_city }}</p>
                            <p><br></p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </section>
    </div>
{% endblock %}
